<h1 id="page-header">New User</h1>

<%= render 'form', user: @user %>

<div id='login-message'>
	<em>*at this time, only administrators can create new accounts. You are still able to login in with a temparary account by going to login</em>
</div>