
<h2 class="page-header" >Create A New Admin User</h2>
<p class="page-description">Create a new administrator account below, you will be able to change the account password later</p>

<%= render 'form', user: @user %>