
<h2>Welcome To The Discussion</h2>

<% if !session[:user_id].nil? %>
	<input type="hidden" id="user-name" value="<%= @current_user.username %>">
<% else %>
	<input type="hidden" id="user-name" value="">
<% end %>

<div id="messages-container">
	<span class="pointer-cursor chat-title" onclick="toggleExpand()">chat window -- people: <p id='connections'><%= @connections %></p></span>
	<textarea id="message-content" data-behavior="message-content-box" onkeyup="room.checkSendMessage(event)"></textarea>
	<div id="messages-inner">	
    	<div id="messages">
			<%= render @messages %>
		</div>
	</div>
</div>


