
<h1 id='page-header'>(under construction...)</h1>



<div id="home-container" class="room-container">
	
	<% unless flash[:notice].nil? %>
		<h6 id='error' class="center notice"><%= flash[:notice] %></h6>
	<% end %>

	<em><h4 id="home-name">Tiffany Nelson</h4></em>
	<span id="home-description">fine artist - jewelry</span>
</div>

