
<h1 id='page-header'>Artist Statement</h1>

<div class="room-container" >
	<div class="statement-container" >
		<p><%= @info.value %></p>
	</div>
</div>

<div id='admin-links'>
	<% if session[:user].eql? "Admin" %>
		<%= link_to 'Edit', edit_room_info_path(@info) %>
	<% end %>
</div>


