
<div id='secondary-header'></div>

<br />

<% if session[:user].eql? 'Admin' %>
	<%= link_to 'New Galley Image', new_gallery_path, :class => 'admin-button' %>
<% end %>

<div id="gallery-page-container" >
	<% @galleries.each do |item| %>
		<div class="gallery-component-div">
			<%= react_component('GalleryParent', { title: item.title, image_url: item.image.url(:thumb).sub('http', 'https'), description: item.description, id: item.id }) %>
		</div>
	<% end %>
</div>
