
@import 'variables.scss';
.carts{
  
  #cart-container{
    width: 90%;
    margin: 0px auto 50px auto;
    min-height: 290px;
    
  }
  
  #cart-container-inner{
    border-top: 1px solid $primary;
    border-bottom: 1px solid $primary;
    
  }
  
  .row-price{
    float: right;
  }
  
  .title{
    
  }
  
  .row{
    border-top: 1px solid warm-grey;
    border-bottom: 1px solid warm-grey;
    padding: 10px 20px 10px 50px;
    color: $primary;
    
  }
  
  .odd{
    @extend .row;
    @include gradient($light-offwhite, white);
    color: black;
    
  }
  
  .even{
    @extend .row;
    color: black;
    
  }
  
  .num-remove{
    width: 40px;
  }
  
  .submit-remove{
    margin-left: 10px;
    margin-right: 10px;
  }
  
  
  
  .cart-order{
    color: $dark-offwhite;
    background: none;
    border: none;
    cursor: pointer;
  }
  .cart-order:hover{
    color: $pink;
    
  }
  
  
  .cart-buttons{
    float: right;
    clear: right;
    margin-top: 40px;
    padding-right: 18px;
  }
  .cart-clear{
    color: $pink;
    background: none;
    border: none;
    cursor: pointer;
  }
  .cart-clear:hover{
    color: $dark-offwhite;
    
  }
  
}

  


  .login{
    color: $pink;
  }
  .login:hover{
    background: none;
    color: $dark-offwhite;
  }





