
@import 'variables.scss';

.users{
 
  .field{
    margin-left: 30px;
  }
  
  .login-container{
    width: 60%;
    margin-left: 20%;
    margin-top: 130px;
  }
  
  .submit-button{
    margin-top: 15px;
    cursor: pointer;
  }

  .settings_button{
    margin-left: 20%;
    margin-top: 30px;
    display: block;
    width: 170px;
    cursor: pointer;
    
    background: $primary;
    color: $secondary;
    padding: 2px;
  }


}