<div id='side-bar'>
  	<span class="toggle-show" onclick='toggleSidebar(this)' data-section='search-items'>+ </span><span class='side-bar-title'>Search</span>
  		<div id='search-items'>
  			<ul id='search-items'>
  				<% @categories.each do |c| %>
  					<li class='side-bar-item'>
  						<%= link_to c, galleries_path( :search_term => c ) %>
  					</li>
  				<% end %>
  			</ul>
  		</div>
  	<span class='toggle-show' onclick='toggleSidebar(this)' data-section='cart-items'>+ </span><span class='side-bar-title'>Cart</span>
  	
  	<% unless @cart.nil? %>
  		<div id='cart-items'>
			<%= render :partial => '/layouts/cart' %>
  		</div>
  	<% end %>
</div>